%h1 Idols#show

%table.pure-table.pure-table-bordered
  %thead
  %tbody
    %tr
      %td name
      %td= @idol.name
    %tr
      %td skill
      %td= @idol.skill_name.blank? ? '-' : @idol.skill_name
    %tr
      %td tags
      %td= @idol.words.map{|r| r.tags}.flatten.uniq.sort.join(', ')

%ul
  - @idol.words.each do |word|
    - if word.voice.nil?
      %li= "#{@idol.name}: #{word.text}"
    - else
      %li
        #{@idol.name}:
        %a{:href => "http://idolmaster.edgesuite.net/idolmaster/#{word.voice}"}= " #{word.text}"

%div
  %a{:href => aiko_api_path(params[:id])} json
%div
  %a{:href => idols_path} back

